<template>
    <div>
        <NuxtLink to="/" class="fixed bottom-5 left-5">
        <i class="bi bi-house-fill text-white" style="font-size: 2rem;"></i>
        </NuxtLink>
    </div>
    <slot/>
</template>